body
{
  text-align:center;
}
.image
{
  widht:200px;
  heigh: 200px;
}
.error
{
  color: #FF0000;
}
.pagination
{
  display:inline-block;
  text-align:center;
}
.pagination a
{
  color:black;
  float:left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active
{
  background-color:#4CAF50;
  color: white;
}
.pagination a:hover:not(.active)
{
  background-color: #ddd;
}